
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hora de Mudar</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/startbootstrap-3-col-portfolio.css" rel="stylesheet">
<link href="../css/estilo.css" rel="stylesheet">
    
  </head>

  <body>


       






    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="../">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Faça Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cadastre-se</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container">
        <img class="imagemBanner" src="../img/Banner.jpg">
        
     

      
  {% block conteudoCentral %}
       <!-- Page Heading -->
      <h1 class="tituloSite">Bem-Vindo ao 
        <small>HoradeMudar.com</small>
      </h1>
      <div class="row">
          {% for imoveis in imoveis  %}
         
    
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
           <img class="card-img-top" src="../{{imoveis.imagem1}}">
            <div class="card-body">
              <h4 class="card-title">
                 {{imoveis.titulo}}
              </h4>
              <p class="card-text">{{imoveis.descricao}}</p>
            </div>
               <a href="/subPagina/{{imoveis.id}}"><button type="submit" name="chamaSubPagina" value="{{imoveis.id}}" class="btn btn-lg btn-block btn-outline-primary eu-quero-marrom "    style="text-align:center; margin: 0 auto;" >Desejo Ver este Imovel !</button></a>
          </div>
        </div>
       {%endfor%}
    {% endblock %}
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; HoraDeMudar.com 2018</p>
      </div>
      <!-- /.container -->
    </footer>
{% block rodape %}
                        <script src="js/jquery-3.3.1.min.js" type="text/javascript" ></script>
                        <script src="js/funcoes.js" type="text/javascript" ></script>
                        <script src="js/bootstrap.min.js" type="text/javascript"></script>
                    {% endblock %}
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>